.navbar_logo {
    width: 100px;
}
.tutor_box {
    width: 90%;
    display: block;
    margin: 1em auto;
}
.card_tutor_bg {
    background-color: rgb(4, 4, 95);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em auto;
}
.btn_float {
    float: right;
    border-color: #fff;
    color: #fff;
}
#button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

#button-13:hover {
  background-color: #f87a04;
  color: #fff;
}

#button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.night-day_mode {
    margin-right: 2em;
    cursor: pointer;
}
.school_pay_btn {
    background-color: rgb(4, 4, 95);
}
.school_add_btn {
    background-color: #f87a04;
}
.school_add_btn:hover {
    background-color: #484644;
}
.add_student_btn_cl {
    background-color: rgb(4, 4, 95);
}
.add_student_btn_cl:hover {
    background-color: #f87a04;
}
.table_school_card {
    margin-top: 1.3em;
}
.mb-3 {
    margin-top: 2em;
}
.search_school_btn {
    color: #fff;
    background-color: rgb(4, 4, 95);
}
.pagination_school_tb {
    margin: 0 auto;
}
