#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
    color: gray;
    /* margin-left: 20%;
    margin-top: -50%; */
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  .pagetitle {
    margin-bottom: 10px;
  }
  
  .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }

  .info-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .info-card .card-body {
    padding: 20px;
  }
  
  .info-card .card-title {
    font-size: 18px;
    margin: 0;
  }
  
  .info-card .card-title span {
    font-size: 14px;
    font-weight: normal;
    color: #999;
  }
  
  .info-card .card-icon {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .info-card .card-icon i {
    font-size: 24px;
    color: #999;
  }
  
  @media (max-width: 767px) {
    .info-card {
      margin-right: 0;
    }
  }