/*main component stylings */
*{
  margin:0;
  padding: 0;
  border: none;
  outline:none;
  box-sizing: border-box;
}
.btn{
  padding: 0.7rem 2rem;
  font-family:'Sen', sans-serif;
  font-size: 1.1em;
  border-radius: 7px;

}
.btn-white{
  background-color: #fff;
  color: var(--blue);

}
.btn-white:hover{
  background-color: var(--gold);
}
input{
  font-family:'Sen', sans-serif;
  padding: .5rem 2rem;
}